POSICIONES_ENTRENADORES=[1,2]|[3,7]
POKEMON_ENTRENADORES=[Pikachu]|[Charmander]
OBJETIVOS_ENTRENADORES=[Pikachu,Charmander]|[Pikachu,Charmander]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=2
ESTIMACION_INICIAL=0
IP_BROKER=127.0.0.1
PUERTO_BROKER=4444
LOG_FILE=team1.log
NAME=TEAM1