POSICIONES_ENTRENADORES=[2|9,9|2,9|9,6|5,2|3]
POKEMON_ENTRENADORES=[]
OBJETIVOS_ENTRENADORES=[Espeon|Vaporeon,Umbreon|Jolteon,Flareon|Espeon,Jolteon|Umbreon,Vaporeon|Flareon]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=3
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=2
ESTIMACION_INICIAL=5
IP_BROKER=0.tcp.ngrok.io
PUERTO_BROKER=16670
LOG_FILE=team3.log
ALPHA=0.5
ID=1002
